* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
}

#body {
    position: relative;
}

#header {
    position: absolute;
    top: -10px;
    left: 10%;
}

#header input {
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;

    width: 15%;
    font-size: 20px;
    font-weight: bolder;
    color: #ccc;
    border: 2px solid #ccc;
    padding: 10px;
    outline: none;

}

#header input:focus {
    width: 25%;
    border: 2px solid #e95172;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.container {
    margin: 20px auto;
    width: 1000px;

    border: 1px solid #ccc;
    border-radius: 10px;
}

.container .circle {
    margin: 50px auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    font-weight: bolder;
}

.container .pick_color .title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.container .pick_color .buttons {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 10px;
    column-gap: 20px;
    justify-content: center;
}

.container .pick_color .buttons .button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .pick_color .buttons .button:hover .btn_remove {
    visibility: visible;
    transition: all 0.2s linear;
    opacity: 1;
}

.container .pick_color .buttons .button .btn_color {
    width: 40px;
    height: 40px;
    border: 4px solid #424141cc;
}

.container .pick_color .buttons .button .btn_remove {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s linear;

    visibility: hidden;
    opacity: 0;
}

.container .pick_color .buttons .button .btn_remove:hover {
    color: #e95172;
    transition: all 0.2s linear;

}

/* ------------------------------------------- */
.container .add_color {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 20px;
}

.container .add_color form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container .add_color form label {
    font-size: 40px;
    font-weight: bolder;
}

.container .add_color form #input_color {
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 130px;
    text-align: center;

    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;

    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.container .add_color form #input_color:focus {
    width: 200px;
    border: 2px solid #e95172;
}

.container .add_color form #btn_add_color {
    padding: 5px 40px;
    background: skyblue;
    border-radius: 8px;

    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}